body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #61dafb;
  text-align: center;
  margin-top: 50px;
}

p {
  font-family: Arial, sans-serif;
  text-align: center;
}

a.wp-block-button__link.wp-element-button {
  color: initial;
  background-color: blueviolet;
}
