body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: Arial, sans-serif;
  text-align: center;
}

a.wp-block-button__link.wp-element-button {
  color: initial;
  background-color: blueviolet;
}
